{% extends 'base.html' %}
{% load static %}

{% block title %}About |{% endblock title %}
{% block body %}

<section>
  <!-- ====================================        About us header        ==================================== -->
  <div class="head_text">
    <div class="inner">
      <div class="animate seven">
        <span>A</span><span>B</span><span>O</span><span>U</span><span>T</span> <span>U</span><span>S</span>
      </div>
      <div class="border"></div>
    </div>
  </div>

  <!-- ====================================        About us        ==================================== -->
  <div class="about">
    <div class="about_1">
      <div style="width:70%;height:250px; float:left">
        <quote>
          <p class="px-4">Quient training is an enthusiastic group intended to train
            students in colleges that are denied the privilege of Placement
            training, A group of Enthusiasts now have a vision of training
            students that don’t have access to placement training that can
            help them get placed, and thereby build their future.
            Quient training is an enthusiastic group intended to train
            students in colleges that are denied the privilege of Placement
            training, A group of Enthusiasts now have a vision of training
            students that don’t have access to placement training that can
            help them get placed, and thereby build their future.
          </p>
        </quote>
      </div>

      <div class="about_img">
        <img src="https://source.unsplash.com/1200x500/?company" />
      </div>
    </div>
    <!-- ====================================        About us Details        ==================================== -->
    <div class="about_table m-2">
          <div class="row mt-3">
            <div class="col-md-4">
                <div  data-trigger="hover">
                    <div>
                        <h3 class="fw-bold">WHO WE ARE ?</h3>
                    </div>
                    <p> Quient training is an enthusiastic group intended to train
                        students in colleges that are denied the privilege of Placement
                        training, A group of Enthusiasts now have a vision of training
                        students that don’t have access to placement training that can
                        help them get placed, and thereby build their future</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="" data-trigger="hover">
                    <div>
                        <h3 class="fw-bold">WHAT WE DO ? </h3>
                    </div>
                    <p>Placement training plays a major role in shaping up the career goals of students. It is
                        the dream of every engineering student to get placed in a top organization visiting
                        their campus for recruitment. Keeping this key aspect into consideration, it is realized
                        that training is important for engineering students to enhance their employability skills
                        and achieve good placement in various Industries </p>
                </div>
            </div>
            <div class="col-md-4">
    
                <div  data-trigger="hover">
                    <div >
                        <h3 class="fw-bold">WHAT WE OFFER ?</h3>
                    </div>
                    <p>Create awareness about career planning and career mapping among the
                        students.Equip the student with life skills.Train the students on Personality development </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}