{% extends 'base.html' %}
{% load static %}
{% block title %}Testimonals|{% endblock title %}
{% block body %}
 <!-- ====================================        Testimonals header        ==================================== -->
<div class="head_text">
    <div class="inner">
        <div class="animate seven">
            <span>T</span><span>E</span><span>S</span><span>T</span><span>I</span><span>M</span><span>O</span><span>N</span><span>I</span><span>A</span><span>L</span><span>S</span>
        </div>
        <div class="border"></div>
    </div>
</div>
 <!-- ====================================        Testimonals slider        ==================================== -->
 <div class="container my-5">
     <div class="row">
         <div class="col-md-12">
             <div id="testimonial-slider" class="owl-carousel">
                 <div class="testimonial">
                     <div class="pic">
                         <img src="https://source.unsplash.com/700x650/?people" alt="pic">
                        </div>
                        <div class="testimonial-content">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p class="description">
                            <quote>Training was excellent with good interaction. Knowledge sharing is good. Recording facility is excellent for revising. Course was practically and informative. Teacher's are enthusiastic and really aware of what they are explaining. The course helped to build confidence, Valuable experiences and learning</quote> 
                        </p>
                        <h3 class="testimonial-title">Vikram
                            <small class="post">Android Developer</small>
                        </h3>
                    </div>
                </div>
                <div class="testimonial">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <div class="pic">
                        <img src="https://source.unsplash.com/700x650/?people" alt="pic">
                    </div>
                    <div class="testimonial-content">
                        <p class="description">
                            <quote>Overall carrer training was good. Trainer is knowledgeable and we now have recorded sessions available too. Trainer has provided some good real time examples related to IT environment which helped me too</quote>
                        </p>
                        <h3 class="testimonial-title">manoj
                            <small class="post">Web Developer</small>
                        </h3>
                    </div>
                </div>
                <div class="testimonial">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <div class="pic">
                        <img src="https://source.unsplash.com/700x650/?people" alt="pic">
                    </div>
                    <div class="testimonial-content">
                        <p class="description">
                            <quote>It was good experience with trainer and teaching skill good and interact and answering every questions asked by student. Good knowledge and updated with his reliable courses</quote>
                        </p>
                        <h3 class="testimonial-title">sona
                            <small class="post">Ui Designer</small>
                        </h3>
                    </div>
                </div>
                <div class="testimonial">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <div class="pic">
                        <img src="https://source.unsplash.com/700x650/?people" alt="pic">
                    </div>
                    <div class="testimonial-content">
                        <p class="description">
                            <quote>Overall a very informative training session. Course content got well covered and also demonstrated the concept very well. Thanks for such an informative and concept-clearing training session.</quote>
                        </p>
                        <h3 class="testimonial-title">kristiana
                            <small class="post">Web Designer</small>
                        </h3>
                    </div>
                </div>
                <div class="testimonial">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <div class="pic">
                        <img src="https://source.unsplash.com/700x650/?people" alt="pic">
                    </div>
                    <div class="testimonial-content">
                        <p class="description">
                            <quote> Trainer knowledge is excellent and with this course I got useful knowledge.</quote>
                        </p>
                        <h3 class="testimonial-title">krist
                            <small class="post">Ui Designer</small>
                        </h3>
                    </div>
                </div>
                <div class="testimonial">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <div class="pic">
                        <img src="https://source.unsplash.com/700x650/?people" alt="pic">
                    </div>
                    <div class="testimonial-content">
                        <p class="description">
                            I thank Quient Training for providing a good training and showing skills for my carrer path
                        </p>
                        <h3 class="testimonial-title">ana
                            <small class="post">Andrioid Designer</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}